<div class="container">
  <h2>Enter the details of the new task starting today!</h2>
  <%= simple_form_for @task do |f|  %>
    <%= f.input :title %>
    <p></p>
    <%= f.input :details %>
    <p></p>
    <%= f.submit class:"btn btn-danger" %>
  <% end %>
  <p></p>
  <%= link_to "Back to List", tasks_path %>
</div>
